body {
    background-color: #ffffff;
}

.sticky-top-3 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1030;
}

.carOusel {
    background-color: #680005;
}

.caroUss {
    font-size: 120%;
    font-weight: bold;
    text-shadow: 3px 2px #000000;
}

.ultIngr {
    background-color: #680005;
    text-align: center;
    font-size: 65%;
    font-weight: bold;
}

.susCrip {
    background-color: #4a0004;
    text-align: center;
}

.taSac {
    background-color: #680005;
    text-align: center;
    font-size: 130%;
    font-weight: bold;
}

.cloSe {
    background-color: #ff0000;
    border-radius: 1%;
}

.plaTaf {
    background-color: rgb(130, 238, 153);
    border-radius: 1%;
}

.aniMat {
    --animate-duration: 3s;
}

.fooTmod {
    background-color: #ffffff;
}

.webUnd {
    background-color: #680005;
    color: #ffffff;
    text-align: center;
    font-size: 85%;
    font-weight: bold;
    text-shadow: 1px 1px #000000;
    width: auto;
    padding: 0.5rem;
}

.webUnd:hover span {
    text-shadow: 0 0 10px #ffffff,
        0 0 20px,
        0 0 40px;
}